<%- include("partials/header") %>
<div class="container">
	<div class="jumbotron">
		<h1>
			 Serach Any Movie
		</h1>
		<form action="/results" method="GET">
			<input type="text" placeholder="type movie name" name="search">
			<input type="submit">
		</form>
		
	</div>
	
</div>

				 
<%- include("partials/footer") %>				 
				 